* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: #000000;
  transition: background-image 1s ease-in-out;
}

.time {
  font-size: 7rem;
 
}

.day {
  font-size: 4rem;
}

.greeting,
.focus_intro {
  font-size: 1.7rem;
  margin-right: .5rem;
}

.focus_intro{
  margin-bottom: 2rem;
}

.name_text,
.focus_text{
  font-size: 2.2rem;
}

.name_label{
  margin: 0 auto;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;  
}



.hidden{
  display: none;
}

.name_input,
.focus_input{
  background-color: transparent;
  width: 210px; 
  padding: 0 20px;
  font-size: 1.7rem;
  border-radius: 10px;
  outline: none;
}

.city_input{
  background-color: transparent;
  width: 150px; 
  padding: 0 20px;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
}

.focus_input{
  width: 220px; 
  padding: 0 20px;
}

.name_input::-webkit-input-placeholder { color: red; }
.name_input::-moz-placeholder          { color: red; } /* Firefox 19+ */
.name_input:-moz-placeholder           { color: red; } /* Firefox 18- */
.name_input:-ms-input-placeholder      { color: red;}

.focus_input::-webkit-input-placeholder { color: red; }
.focus_input::-moz-placeholder          { color: red; } /* Firefox 19+ */
.focus_input:-moz-placeholder           { color: red; } /* Firefox 18- */
.focus_input:-ms-input-placeholder      { color: red;}

.city_input::-webkit-input-placeholder { color: red; }
.city_input::-moz-placeholder          { color: red; } /* Firefox 19+ */
.city_input:-moz-placeholder           { color: red; } /* Firefox 18- */
.city_input:-ms-input-placeholder      { color: red;}


h2 {
  opacity: 0.8;
}

.bg-reload {
  width: 50px;
  height: 50px;
  background-image: url(../images/reload.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
  border: none;
  opacity: 0.3;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.btn-quote {
  width: 50px;
  height: 50px;
  background-image: url(../images/papyrus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  opacity: 1;
}

.btn-quote:hover {
  opacity: 0.5;
}

.bg-reload:hover {
  opacity: 1;
}

.bg-reload:active {
  opacity: 0.8;
  box-shadow: 0 0 0 2px white inset, 0 0 0 4px black inset
}



.wrap {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  border-radius: 40%;
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.3);

}

.quote-wrap {

  padding: 20px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  border-radius: 40%;
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.3);

}

.quote {
  width: 300px;
}


.weather-wrap {
  display: block;
  padding: 20px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  border-radius: 40%;
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.3);
}

.wrap-additions {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }

  .weather-wrap,
  .quote-wrap {
    margin: 0 auto;
  }


}