* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 3vh;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
  transition: background-image 1s ease-in-out;
}

.time {
  font-size: 7rem;
  display: flex;
  justify-content: space-between;
}

.time_block {
  width: 12vh;
}

.day {
  font-size: 4rem;
}

.weekday {
  font-size: 2.5rem;
}

.greeting,
.focus_intro {
  font-size: 1.7rem;
  margin-right: .5rem;
}

.focus_intro {
  margin-bottom: 2rem;
}

.name_text,
.focus_text {
  font-size: 2.2rem;
  max-width: 40vh;
}

.name_label {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.hidden {
  display: none;
}

.name_input,
.focus_input {
  background-color: transparent;
  width: 24vh;
  padding: 0 2vh;
  font-size: 1.7rem;
  border-radius: 1vh;
  outline: none;
  color:white;
}

.city_input {
  background-color: transparent;
  width: 15vh;
  padding: 0 2vh;
  font-size: 1rem;
  border-radius: 1vh;
  outline: none;
  color:white;
}

.focus_input {
  width: 29vh;
  padding: 0 2vh;
}

.name_input::-webkit-input-placeholder {
  color: red;
  font-size: 1.3rem;
}

.name_input::-moz-placeholder {
  color: red;
  font-size: 1.3rem;
}

/* Firefox 19+ */
.name_input:-moz-placeholder {
  color: red;
  font-size: 1.3rem;
}

/* Firefox 18- */
.name_input:-ms-input-placeholder {
  color: red;
  font-size: 1.3rem;
}

.focus_input::-webkit-input-placeholder {
  color: red;
  font-size: 1.5rem;
}

.focus_input::-moz-placeholder {
  color: red;
  font-size: 1.5rem;
}

/* Firefox 19+ */
.focus_input:-moz-placeholder {
  color: red;
  font-size: 1.5rem;
}

/* Firefox 18- */
.focus_input:-ms-input-placeholder {
  color: red;
  font-size: 1.5rem;
}

.city_input::-webkit-input-placeholder {
  color: red;
  font-size: 0.8rem;
}

.city_input::-moz-placeholder {
  color: red;
  font-size: 0.8rem;
}

/* Firefox 19+ */
.city_input:-moz-placeholder {
  color: red;
  font-size: 0.8rem;
}

/* Firefox 18- */
.city_input:-ms-input-placeholder {
  color: red;
  font-size: 0.8rem;
}

.bg-reload {
  width: 6vh;
  height: 6vh;
  background-image: url(../images/reload.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 5vh 5vh;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
opacity: 0.3;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.btn-quote {
  width: 20vh;
  height: 6vh;
  background-image: url(../images/anonymousHeroQuestions.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 20vh 6vh;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.btn-quote:hover {
  opacity: 0.5;
}

.bg-reload:hover {
  opacity: 1;
}

.bg-reload:active {
  opacity: 0.8;
  box-shadow: 0 0 0 2px black inset, 0 0 0 4px white inset
}

.wrap {
  max-width: 100vh;
  padding: 5vh;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  border-radius: 30%;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.3);
}

.quote-wrap {
  padding: 2vh;
  padding-top: 0.5vh;
  align-items: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  border-radius: 40%;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.3);
}

.quote {
  width: 60vh;
  height: 8vh;
}

.weather-wrap {
  display: block;
  padding: 20px;
  align-items: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  border-radius: 40%;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.3);
}

.wrap-additions {
  width: 95%;
  min-height: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  align-items: flex-start;
}

@media (max-width: 700px) {
  body{
    font-size: 12px;
  }

  .time,
  .day {
    font-size: 3rem;
    justify-content: center;
  }

  .weather-wrap,
  .quote-wrap {
    margin: 0 auto;
    margin-bottom: 2vh;
  }

  .time_block {
    width: 10vh;
  }

  .greeting,
.focus_intro {
  font-size: 1.5rem;
  margin-right: .5rem;
}

.quote {
  width: 40vh;
}

}
